/*


*/

/* Global styles
---------------------------*/
body {
    color: #343434;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-color: darkgray;   /* NEW STYLE FOR LESSON 04 */
}

img {
 width: 600px;
}

a  {
  color: #FFE66D;
}

a:hover{
    text-decoration: none;
}


.content{
    width: 850px;
    margin: 0 auto;
    padding: 15px 0;  /* NEW STYLE FOR LESSON 04 */
}


/* Profile
---------------------------*/
header{
    background: #2F3061;
    color: #F7FFF7;
}



/* Projects
---------------------------*/
.projects{
    background: #F7FFF7;
}

.projects a{
    color: #F7FFF7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.projects a:hover{
    background: rgba(47,48,97,80%);
}




/* Work Experience
---------------------------*/
.work-experience{
    background: #A1C6D7;
}




/* Education
---------------------------*/





/* Contact Info
---------------------------*/
footer{
    background: #343434;
    color: #F7FFF7;
}
