/*      


*/

/* Global styles
---------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    color: #343434;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-color: darkgray;   /* NEW STYLE FOR LESSON 04 */
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
 width: 600px;
}

a  {
  color: #FFE66D;
}

a:hover{
    text-decoration: none;
}

h1 {
    font-size: 100px;
    line-height: 1;
    text-shadow: 0 0 10px #c8c3cc;   /* NEW FOR LESSON 05 */
}

h2 {
    font-size: 42px;
}

h1, h2 {                                       /* NEW  STYLE FOR LESSON 05 */
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}


.content{
    width: 850px;
    margin: 0 auto;
    padding: 15px 0;  /* NEW STYLE FOR LESSON 04 */
    overflow: auto;
}


/* Profile
---------------------------*/
header{
    background: #563f46;           /* NEW COLOR FOR LESSON 05 */
    color: #F7FFF7;
    text-align: center;
    overflow: auto;
}


/* Navigation
---------------------------*/
#navbar{
    width= 100%;
}


nav{
    text-align: center;  /* center the nav content */
    font-weight: bold;
    border: solid black;
}


nav a{
    display: block;
    padding: .25em;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

nav ul{
    list-style: none;
}


nav ul li{
    position: relative;
    display: inline-block;
}


ul li:hover{
    background: lightgray;
}


ul li ul{
    position:absolute;
    left: -100000px;  /* position subm-menus off the screen */
}


ul li:hover ul{   /* displays sub-menus on-screen upon hover parent list items */
    left: 0;
}



ul li ul li {       
    display: block;   /* displays the sub-menu as a single block */
    background: #c6bcb6;
    width: 250px;
    text-align: left;
    
}

ul li ul li:hover{
    border: solid .05em black;
}


ul li ul a{
    font-size: 17px;
}







/* Projects
---------------------------*/
.projects{
    background: #e0e2e4;
}

.projects a{
    color: #F7FFF7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.projects a:hover{
    background: rgba(47,48,97,80%);
}


.project-item {
    overflow: auto;
}


.project-item img {
    float:left;
    margin-right: 1em;
}



/* Work Experience
---------------------------*/
.work-experience{
    background: #c6bcb6;     /* NEW COLOR FOR LESSON 05 */
    overflow: auto;
}

.job-item{   /* This is the grid container for the Work Experience area */
  display: grid;
  grid-template-columns: 1fr 2fr;  /* fr makes it responsive; 2fr makes the 2nd column twice the size of the first column */
  column-gap: 15px;
    
}





/* Education
---------------------------*/
.education{
    overflow: auto;
}




/* Contact Info
---------------------------*/
footer{
    background: #343434;
    color: #F7FFF7;
    text-align: center;
    overflow: auto;
    padding: 1em;
}


form {
    position:relative;
    left: 700px;
}

.contact-list{
    width: 600px;
    padding: 0%;
    display: flex;
    flex-flow: row wrap;
    border: solid #c6bcb6;
    border-width: 10px;
    justify-content: center;
    
}

#fname{
  flex: 1 0 500px;
  text-align: left; 
  margin: 1em;
  border-radius: 3px;
}

#lname{
  flex: 1 0 500px;
  text-align: left; 
  margin: 1em;
  border-radius: 3px;
}

#phone{
  flex: 1 0 500px;
  text-align: left; 
  margin: 1em; 
  border-radius: 3px;
}

#email{
  flex: 1 0 500px;
  text-align: left; 
  margin: 1em;
  border-radius: 3px;
}

#subject{
  flex: 1 0 500px;
  text-align: left;
  margin: 1em;
  border-radius: 3px;
}

#message{
  flex: 1 0 500px;
  text-align: left;   
  margin: 1em;
  height: 50px;
  border-radius: 3px;
}



#interest{
  flex: 1 0 500px;
  margin: 1em;
}

.submit{
    flex 0 0 10px;
    margin: 1em;
    background-color: #563f46;
    color: white;
}

